@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.wrapper {
  max-width: 1350px;
  width: 61.5%;
  margin: 0 auto;
}

/* Header styling start. */

header { padding: 20px 0;}

header .wrapper h1 { text-align: center;}

header .wrapper h1 a {
  color: #3f434c;
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
}

header .wrapper h1::before {
  font-family: "Font Awesome 5 Free";
  content: "\f5fd";
  margin-right: 10px;
  color: #46a5e3;
  font-size: 40px;
  font-weight: 600;
}

/* Header styling end. */
/* Blogs styling start. */

.blogs .wrapper article { 
  border: 1px solid #e9e9e9;
  padding: 20px 15px;
  background-color: #f1f1f1;
  border-radius: 3px;
}

.blogs h2 a {
  color: #333333;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
}

.blogs h2 a:hover {
  transition: .5s;
  color: #46a5e3;
}

.authorname {
  display: inline-block;
  margin: 10px 0 5px 0;
  color: #46a5e3;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.authorname::before {
  font-family: "Font Awesome 5 Free";
  content: "\f007";
  margin-right: 3px;
  font-size: 11px;
  font-weight: 600;
}

.authorname time::before {
  font-family: "Font Awesome 5 Free";
  content: "\f017";
  margin: 0 3px 0 15px;
  font-size: 11px;
  font-weight: 600;
}

.blogs p {
  color: #525252;
  font-family: Poppins,sans-serif;
  font-size: 14px;
  text-align: justify;
  line-height: 1.7em;
}

.read {
  display: inline-block;
  color: #46a5e3;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.read:hover {
  transition: .5s;
  color: #525252;
}

.read::after{
  font-family: "Font Awesome 5 Free";
  content: "\f30b";
  margin-left: 7px;
  position: relative;
  top: 1px;
  font-size: 16px;
  font-weight: 600;
}

/* Blogs styling end. */